body{

}

li{
    list-style-type: none;

}

li a{
    color: black;
    text-decoration: none;
    padding: 30px;
    max-height: 2px;

}

.nav{
    display: flex;

}

header{
    height: 100px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: aqua;
}

.lend{
    display: block;
    border-image: url(assets/Photo/banner.jpg);
}
